@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
body{
	background-image:url("images/Orange background.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover
}
#container{
	width: 800px;
	margin: 0 auto;
}
.left{
	width: 200px;
	height: 415px;	
	float: left;
	background-color:paleturquoise;
	border-radius: 20px;
	padding: 15px 15px 15px 15px;
	margin: 10px 20px 15px 0px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
	}
.left a:link{
	color:black;
	font-size: 1.4em;
	text-decoration: none;
}
.left a:visited{
	color: orangered;
	font-size: 1.4em;
	text-decoration: none;
}
.left a:hover{
	color:blue;
	font-size: 1.4em;
	text-decoration: underline;
}
.left a:active{
	color:white;
	font-size: 1.4em;
	text-decoration: none;
}

.top-right{
	width: 580px;
	height: 200px;
	background-color: rgba(250,250,250,0.50);
	border-radius: 20px;
	margin: 10px 0px 15px 0px;
	padding: 15px 15px 15px 15px;
	float: right;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: .95em
		
}
.bottom-right{
	width: 580px;
	height: 200px;
	background-color: rgba(255,255,255,0.50);
	border-radius: 20px;
	margin: 0px 0px 15px 0px;
	padding: 15px 15px 15px 15px;
	float: right;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size:.95em
}
.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}
img{
  float:left;
  margin-right: 20px;  
}
header >h1{
	
    text-align: center; color:aliceblue;
	border: 2px solid rgba(255,255,255,.50);
	border-radius: 20px;
	padding: 15px 15px 15px 15px;
}
article >h2{
	text-align: center;
}
article >p{
	margin-left: 20px;
}
footer{
	color:aliceblue;
	clear:both;
}
table, th, td{
	text-align: center;
	border: 5px solid paleturquoise;
	padding: 10px 10px 10px 10px;
	border-radius: 20px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size:.95em;
}
table{
	margin-left: 80px;
}
th, td{
	background-color: rgba(255,255,255,.50);
}
caption{
	text-align: center;
	border: 5px solid paleturquoise;
	padding: 10px 10px 10px 10px;
	border-radius: 20px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size:.95em;
	background-color: rgba(255,255,255,.50);
	margin-bottom: 10px;
}
ol li{
	border-radius: 20px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size:.95em;
	color: orangered;
	margin-left: 30px;
}
ol{
	background-color:paleturquoise;
	border-radius: 20px;
	color: orangered;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	width: 320px;
	height: 200px;
	padding: 10px 10px 10px 10px;
	float: left;
}
h4{
	text-align: center;
}
ul{
	background-color:rgba(255,255,255,.50);
	border-radius: 20px;
	color: orangered;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	width: 320px;
	height: 200px;
	padding: 10px 10px 10px 10px;
	float: right;
}
ul li{
	border-radius: 20px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size:.95em;
	color:orangered;
	margin-left: 30px;
}
button{
	margin-left: 280px;
	border: 5px solid paleturquoise;
	padding: 10px 10px 10px 10px;
	border-radius: 20px;
}
h3{
	margin-left: 240px;
}
iframe{
	margin-left: 150px;
}
#demo{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: aliceblue;
	margin-left: 200px;
}